{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Adminlar Ro'yxati</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Asosiy</a></li>
            <li class="breadcrumb-item active">Adminlar</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>FIO</th>
                      <th>Telefon</th>
                      <th>Username</th>
                      <th>Admin</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in admins %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.name }}</td>
                      <td>{{ i.phone }}</td>
                      <td><a target="_blank" href="https://t.me/{{ i.username }}">{{ i.username }}</a></td>
                      <td>
                        {% if is_admin or not user.is_anonymous %}
                        <a href="{% url 'update_admin' pk=i.id stat=2 %}"><div class="btn btn-sm btn-danger">Bekor qilish</div></a>
                        {% else %}
                        <div class="btn btn-sm btn-danger disabled">Bekor qilish</div>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
