<!--{% extends 'dashboard/base.html' %}-->
<!--{% load static %}-->
<!--{% block content %}-->
<!--<section class="content-header">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row mb-2">-->
<!--      <div class="col-sm-6">-->
<!--        <h1>Order List</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</section>-->
<!--<section class="content">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--            <div class="card card-primary">-->

<!--              <form method="post" >-->
<!--                  {% csrf_token %}-->
<!--                <div class="card-body">-->
<!--                  <div class="form-group">-->
<!--                    <label >Order status</label>-->
<!--                      {{form.status}}-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                  <div class="form-group">-->
<!--                    <label >Order status</label>-->
<!--                      {{form.total_price}}-->
<!--                  </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label >Order total_price</label>&ndash;&gt;-->
<!--&lt;!&ndash;                      {{form.total_price}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="card-footer">-->
<!--                  <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--{% endblock %}-->