{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Xodimlar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Asosiy</a></li>
          <li class="breadcrumb-item active">Xodimlar</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>                      
                      <th>FIO</th>
                      <th>Telefon</th>
                      <th>Holati</th>
                      <th>Telegram id</th>
                      <th>Username</th>
                      <th>Admin</th>
                      <th>O'chirish</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in employee %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.name }}</td>
                      <td>{{ i.phone }}</td>
                      <td>Aktiv</td>
                      <td>{{ i.chat_id }}</td>
                      {% if i.username %}
                      <td><a href="https://t.me/{{ i.username }}">{{ i.username }}</a></td>
                      {% endif %}
                      {% if is_admin or not user.is_anonymous  %}
                      {% if i.is_admin %}
                      <td>Admin</td>
                      {% else %}
                      <td>
                        <a href="{% url 'update_admin' pk=i.id stat=1 %}"><div class="btn col-5 btn-block btn-outline-primary">Admin</div></a>
                      </td>
                      {% endif %}
                      <td>
                        <a href="{% url 'employee_delete' i.id  %}"><div class="btn col-5 btn-block btn-outline-danger ">Delete</div></a>
                      </td>
                      {% else %}
                      <td>
                        <div class="btn col-5 btn-block btn-outline-primary disabled">Admin</div>
                      </td>
                      <td>
                        <div class="btn col-5 btn-block btn-outline-danger disabled">Delete</div>
                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}